{% extends 'DisplayCmsBundle::backend_layout.html.twig' %}
{% form_theme form 'DisplayCmsBundle::form_theme.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% include 'DisplayCmsBundle:Page:script.html.twig' %}
{% endblock %}

{% block display_cms_admin_content %}
    <a href="{{ path('display_cms_backend_page') }}">
        Back to the list
    </a>
    <div class="page-header">
        <h1>Page creation</h1>
    </div>

    {{ form(form) }}
{% endblock %}
